.contentWrapper {
    width: 100% !important;
}

.wrapper {
    padding: 24px 12px;
}

@media (max-width: 768px) {
    .wrapper {
        height: 410px !important;
        padding: 12px 0;
    }

    .contentWrapper {
        min-height: 410px !important;
    }
}