.wrapper {
    position: relative;
}

.logoWrapper {
    display: flex;
    padding: 0 16px;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 130px;
    height: 36px;
    background-color: #eee;
    border-radius: 4px;
}

.logo.dark {
    background-color: #222;
}

.drawerToggle {
    display: none;
    position: absolute;
    right: 16px;
    height: 100%;
    align-items: center;
}

.extraContentWrapper {
    position: absolute;
    right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .extraContentWrapper {
        display: none;
    }

    .logo,
    .logoWrapper {
        display: none;
    }

    .drawerToggle {
        display: block;
    }
}