.wrapper {
    position: relative;
}

.logoWrapper {
    display: flex;
    padding: 0 16px;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 130px;
    height: 36px;
    background-color: #ddd;
    border-radius: 4px;
}

.extraContent {
    position: absolute;
    right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.input {
    width: 300px !important;
    margin-right: 16px;
}

.globalIcon, .sunIcon {
    font-size: 20px;
    color: #CBD5E1 !important;
    cursor: pointer;
}

.globalIcon {
    margin-right: 8px;
}